<%- include('includes/head'); %>

  <div>
    <h1>Agenda</h1>
    <p>Os seus contatos estão listados abaixo.</p>

    <table>
      <tr>
        <td>Nome</td>
        <td>456789456</td>
        <td>nomesobrenome@email.com</td>
        <td><a href="#">Editar</a></td>
        <td><a href="#">Excluir</a></td>
      </tr>
    </table>

  </div>


  <%- include('includes/footer'); %>