<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<%- include('includes/messages'); %>

<div>
    <h2>Você está logado! :)</h2>
    <p>Agora você já pode visualizar e editar sua lista de contatos.</p>

</div>
        
<%- include('includes/footer'); %>